Repository muhandojeon/The-Software-Craftsman, pull requests merged in 2024-11, with the labels that each got.

#26 [강연주] 7,8장 : 기술적 시행 관례, 길고 긴 여정
  7장/강연주.md
  8장/강연주.md
Labels: 7장, 8장

#29 [문희상] 9장,10장 : 인재 채용, 소프트웨어 장인 면접하기
  10장/10장 문희상.md
  10장/9장,10장 서기.md
  9장/9장 문희상.md
Labels: 9장, 10장

#33 [강연주] 11장,12장 : 잘못된 면접 방식, 낮은 사기의 대가
  11장/강연주.md
  12장/강연주.md
Labels: 11장, 12장

#23 [전호영] 7,8장 : 기술적 시행 관례, 길고 긴 여정
  7장/전호영.md
  8장/전호영.md
Labels: 7장, 8장

#22 [문희상] 7,8장: 기술적 실행 관례 & 길고 긴 여정
  7장/문희상.md
  8장/문희상.md
Labels: 7장, 8장

#24 [한상호] 7,8장 : 기술적 시행 관례, 길고 긴 여정
  7장/한상호.md
  8장/한상호.md
Labels: 7장, 8장

#34 [한상호] 9,10장 : 인재 채용, 소프트웨어 장인 면접하기
  10장/한상호.md
  9장/한상호.md
Labels: 9장, 10장

#38 [최서희] 11장,12장 : 잘못된 면접 방식, 낮은 사기의 대가
  11장/최서희.md
  12장/최서희.md
Labels: 11장, 12장
