Repository muhandojeon/The-Software-Craftsman, pull requests merged in 2024-12, with the labels that each got.

#14 [전호영] 5,6장: 영웅, 선의 그리고 프로페셔널리즘. 동작하는 소프트웨어
  5장/서기.md
  5장/전호영.md
  6장/서기.md
  6장/전호영.md
Labels: 5장, 6장

#17 [황동준] 5,6장: 영웅, 선의 그리고 프로페셔널리즘/ 동작하는 소프트웨어
  5장/황동준.md
  6장/황동준.md
Labels: 5장, 6장

#18 [강연주] 5,6장: 영웅, 선의 그리고 프로페셔널리즘, 동작하는 소프트웨어
  5장/강연주.md
  6장/강연주.md
Labels: 5장, 6장

#20 [문희상] 3,4장: 소프트웨어 장인정신, 소프트웨어 장인의 태도
  3장/문희상.md
  4장/문희상.md
Labels: 3장, 4장

#21 [문희상] 5,6장: 영웅, 선의 그리고 프로페셔널리즘 & 동작하는 소프트웨어
  5장/문희상.md
  6장/문희상.md
Labels: 5장, 6장

#28 [황동준] 7,8장 : 기술적 실행 관례, 길고 긴 여정
  7장/황동준.md
  8장/황동준.md
Labels: 7장, 8장

#30 [최서희] 5,6장: 영웅, 선의 그리고 프로페셔널리즘 & 동작하는 소프트웨어
  5장/최서희.md
  6장/최서희.md
Labels: 5장, 6장

#31 [최서희] 7,8장 : 기술적 시행 관례, 길고 긴 여정
  7장/최서희.md
  8장/최서희.md
Labels: 7장, 8장

#32 [최서희] 9,10장 : 인재 채용, 소프트웨어 장인 면접하기
  10장/최서희.md
  9장/최서희.md
Labels: 9장, 10장

#36 [문희상] 11장,12장 : 잘못된 면접 방식, 낮은 사기의 대가
  11장/문희상.md
  12장/문희상.md
Labels: 11장, 12장

#37 [전호영] 11장,12장 : 잘못된 면접 방식, 낮은 사기의 대가
  11장/README.md
  11장/전호영.md
  12장/README.md
  12장/전호영.md
Labels: 11장, 12장

#39 [한상호] 13장,14장 : 배움의 문화, 기술적 변화의 실행
  13장/한상호.md
  14장/한상호.md
Labels: 13장, 14장

#40 [강연주] 13장,14장 : 배움의 문화, 기술적 변화의 실행
  13장/강연주.md
  14장/강연주.md
Labels: 13장, 14장

#41 [최서희] 13장,14장 : 배움의 문화, 기술적 변화의 실행
  13장/최서희.md
  14장/최서희.md
Labels: 13장, 14장

#42 [전희수] 13,14장: 배움의 문화, 기술적 변화의 실행
  13장/13장 전희수.md
  14장/14장 전희수.md
Labels: 13장, 14장

#43 [강연주] 15장,16장 : 실용주의 장인정신, 소프트웨어 장인으로서의 커리어
  15장/강연주.md
  16장/강연주.md
Labels: 15장, 16장

#44 [한상호] 15장, 16장 : 실용주의 장인정신, 소프트웨어 장인으로서의 커리어
  15장/한상호.md
  16장/한상호.md
Labels: 15장, 16장

#45 [전호영] 13,14장: 배움의 문화, 기술적 변화의 실행
  13장/전호영.md
  14장/전호영.md
Labels: 13장, 14장

#46 [전호영] 15장, 16장 : 실용주의 장인정신, 소프트웨어 장인으로서의 커리어
  15장/전호영.md
  16장/전호영.md
Labels: 15장, 16장

#47 [이은학] 13장,14장 : 배움의 문화, 기술적 변화의 실행
  13장/이은학.md
  14장/이은학.md
Labels: 13장, 14장

#48 [이은학] 15장,16장 : 실용주의 장인정신, 소프트웨어 장인으로서의 커리어
  15장/이은학.md
  16장/이은학.md
Labels: 15장, 16장

#49 [전희수] 15장, 16장 : 실용주의 장인정신, 소프트웨어 장인으로서의 커리어
  15장/15장 전희수.md
  16장/16장 전희수.md
Labels: 15장, 16장

#50 [공예영] 15장, 16장 : 실용주의 장인정신, 소프트웨어 장인으로서의 커리어
  15장/공예영.md
  16장/공예영.md
Labels: 15장, 16장

#51 [황동준] 15장 16장 : 실용주의 장인 정신, 소프트웨어 장인으로서의 커리어
  15장/황동준.md
  16장/황동준.md
Labels: 15장, 16장

#52 [최서희] 15장 16장 : 실용주의 장인 정신, 소프트웨어 장인으로서의 커리어
  15장/최서희.md
  16장/최서희.md
Labels: 15장, 16장
